@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
:root{
    --color-light-neutral-1:#f8fafc;
    --color-teste: #2b1165;
    
    --bg-gradient: linear-gradient(
        180deg,
        #f0f0f0 0%, /* Exemplo de cor de fundo */
        rgba(26, 58, 130, 1) 37%,
        rgba(171, 36, 177, 1) 69%,
        #ffffff 100% /* Exemplo de cor de primeiro plano */
    );
    --fg-gradient: linear-gradient(
        0deg,
        #f0f0f0 0%, /* Exemplo de cor de fundo */
        rgba(26, 58, 130, 1) 37%,
        rgba(171, 36, 177, 1) 69%,
        #ffffff 100% /* Exemplo de cor de primeiro plano */
    );


    --color-gradient-light: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
 
     

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
   
}
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}
.navegation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navegation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
   transform-origin: right;
}
.navegation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;


}
.navegation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}
.navegation .btnLogin-popup:hover{
    background: #fff;
    color: #162938;
}
 

.gif img {
    max-width: 200px; 
    height: 150px;
    border-radius: 100%;
    margin-bottom: 450px;
    transform: scaleX(-1); /* Espelha o GIF horizontalmente */ 
}


#main_header h1{
    font-size: 40px;
    position: relative ; /*paar colocar a alinha de baixo o login*/
}
#main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main_header h1::before{
    position: absolute;
    height: 3px;
    content: '';
    background-color: #6f51f0;
    width: 40%;
    bottom: 10px;
    border-radius: 5px;
    

}

#conteiner{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-gradient-light);
}


#login_form{
    background-color: var(--color-light-neutral-1);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0px 10px 40px #00000056;
    height: fit-content;
}
#form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#form_header h1{
    font-size: 40px;
    position: relative ; /*paar colocar a alinha de baixo o login*/
}
#form_header h1::before{
    position: absolute;
    height: 3px;
    content: '';
    background-color: #6f51f0;
    width: 40%;
    bottom: 10px;
    border-radius: 5px;
}
#mode_icon{
    cursor: pointer;
    font-size: 20px;
    align-items: center;
}
#inputs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-box label{
    font-size: 14px;
    color: var(--color-dark-1);
}

.input-field{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid #c53cba;
}
.input-field i{
    font-size: 18px;
    color: #ad8cff;
}
.input-field  input{
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 15px;
    padding: 0px 5px;
}
.input-field  input:focus{ /*para tirara o quadrado do input*/
    outline: none;
}


#salvar_button{
    border: none;
    background: var(--color-gradient-light);
    color: var(--color-light-neutral-1);
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 280px;
}
#salvar_button:hover{
    transform: scale(1.05);
}



